body{
  font-family: 'Open Sans', sans-serif;
  background:#3498db;
  text-align:center;
}

p{
  font-size:12px;
  text-decoration: none;
  color:#ffffff;
}

h1{
  font-size:1.5em;
  color:#525252;
}

ul.header {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
}

li.header {
  float: left;
}

li.header a {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li.header a:hover:not(.active) {
  background-color: #ddd;
}

li.header a.active {
  color: white;
  background-color: #4CAF50;
}